/* @gallery */
.gallery {
  -webkit-column-count:4;
  -moz-column-count:4;
  column-count:4;
  -webkit-column-gap:.5em;
  -moz-column-gap:.5em;
  column-gap:.5em;
}
.gallery .image {
  display:inline-block;
  width:100%;
  vertical-align:top;
  margin:0 0 .5em;
}
.gallery .image a,
.gallery .image img {
  display:block;
  width:100%;
  height:auto;
  min-width:0;
  min-height:0;
  max-width:100%;
  max-height:100%;
  margin:0;
  padding:0;
  border-radius:0;
  box-shadow:none;
}

/* @audio, @video */
.audio,
.video {
  display:block;
  width:100%;
  height:0;
  margin-right:0;
  margin-left:0;
  padding:0 0 56.25%;
  position:relative;
  background:none no-repeat 50% 50%;
  background-size:100% auto;
}
.audio {
  padding:0;
  height:auto;
}
.audio audio {
  display:block;
  margin:0;
  padding:0;
  border:0;
  width:100%;
  height:auto;
}
.video video {
  display:block;
  margin:0;
  padding:0;
  border:0;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:none;
}